[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CUtools"]
	path = CUtools
	url = https://github.com/cran/CUtools
[submodule "PTwins"]
	path = PTwins
	url = https://github.com/cran/PTwins
